/////////////////////////////
// LOGO

.logo {
  height: 3.25rem;
  margin-left: 2rem;
}

/////////////////////////////
// SEARCH

.search {
  flex: 0 0 40%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__input {
    font-family: inherit;
    font-size: inherit;
    width: 90%;
    border-radius: 100px;
    border: none;
    background-color: var(--color-grey-ligh-3);
    padding: .7rem 2rem;
    margin-right: -3.5rem;
    transition: all 0.2s;

    &:focus {
      width: 100%;
      border: none;
      outline: none;
      color: var(--color-grey-dark-3);
    }

    &::placeholder {
      font-weight: 100;
      color: var(--color-grey-ligh-4);
    }
  }

  &__button {
    background-color: var(--color-grey-ligh-3);
    border: none;
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3);
  }
}

/////////////////////////////
// USER NAVIGATION

.user-nav {
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > * {
      display: flex;
      align-items: center;
      padding: 0 2rem;
      height: 100%;
      cursor: pointer;
  }

  & > *:hover {
      background-color: var(--color-grey-ligh-3);
  }

  &__icon-box {
      position: relative;

  }

  &__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-grey-dark-2);
  }

  &__notification {
      background-color: var(--color-primary);
      color: #fff;
      font-size: .8rem;
      font-weight: 900;
      height: 1.75rem;
      width: 1.75rem;
      border-radius: 50%;
      position: absolute;
      top: 1.5rem;
      right: 1.3rem;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  &__user {
      display: flex;
      align-items: center;
  }

  &__user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 2rem;
  }
}


/////////////////////////////
// SIDE NAVIGATION

.side-nav {
    font-size: 1.4rem;
    list-style: none;
    margin-top: 3.5rem;

    &__item {
        position: relative;

        &:not(:last-child){
            margin-bottom: 0.5rem;
        }
    }

    &__item::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 3px;
        height: 100%;
        background-color: var(--color-primary);
        transform: scaleY(0);
        transition: transform .2s,
                    width .4s cubic-bezier(1,0,0,1) .2s;
    }

    &__item:hover::before,
    &__item--active::before {
        transform: scaleY(1);
        width: 100%;
    }





    &__link:link,
    &__link:visited {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--color-grey-ligh-1);
        text-transform: uppercase;
        padding: 1.5rem 3rem;
        position: relative;
        z-index: 10;
    }

    &__link:active {
        background-color: var(--color-primary-light);
    }




    &__icon {
        width: 1.75rem;
        height: 1.75rem;
        fill: currentColor;
        margin-right: 2rem;
    }


}

/////////////////////////////
// LEGAL TEXT

.legal {
    font-size: 1.2rem;
    color: var(--color-grey-light-4);
    text-align: center;
    padding: 2.5rem;
}