.container {
  margin: 8rem auto;
  max-width: 120rem;
  background-color: var(--color-grey-ligh-2);
  box-shadow: var(--shadow-dark);

  min-height: 50rem;
}

.header {
  height: 7rem;
  background-color: var(--color-grey-ligh-1);
  font-size: 1.5rem;
  border-bottom: 1px solid var(--color-grey-ligh-2);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
}

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-view {
  // background-color: orangered;
  flex: 1;
}

.details {
  font-size: 1.5rem;
  display: flex;
  padding: 3.5rem;
}

.description {
  flex: 0 0 60%;
  margin-right: 3.5rem;
  box-shadow: var(--shadow-light);
  padding: 3.5rem;
}

.user-reviews {
  background-color: green;
  flex: 1;
}
