.container {
    margin: 8rem auto;
    max-width: 120rem;
    background-color: var(--color-grey-ligh-2);
    box-shadow: var(--shadow-dark);

    min-height: 50rem;
}

.header {
    height: 7rem;
    background-color: var(--color-grey-ligh-1);
    font-size: 1.5rem;


    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    display: flex;
}

.sidebar {
    background-color: var(--color-grey-dark-1);
    flex: 0 0 18%;
}

.hotel-view {
    background-color: orangered;

    flex: 1;
}